<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./assets/css/style.css">
	<title>Contact Damage Records</title>	
	<script src="./assets/js/jquery.min.js"></script>
	<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<nav class="navbar navbar-default">
				<div class="nav-container">
					<div class="logo navbar-header">
						<a href="#"><img src="./assets/img/damage-logo-sign-600.png"></a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="main.html">НОВИНИ</a></li>
						<li class="active"><a href="releases.html">РЕЛІЗИ</a></li>
						<li><a href="artists.html">АРТИСТИ</a></li>
						<li><a href="#">ШКОЛА</a></li>
						<li><a href="#">ПРО НАС</a></li>
						<li><a href="#">КОНТАКТИ</a></li>
					</ul>
					<div class="search-box">
						<input type="text" name="search" placeholder="Пошук">
						<button name="search-btn"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div class="news-container">
				<p class="about">Про Damage Records</p>
				<article>
				Damage Records - лейбл, заснований в 1992 році в Вестмінстері, штат Каліфорнія, і підписує виконавців переважно поп-панку та альтернативного року. Дистриб'ютором релізів, випущених на лейблі Damage Records, на національному рівні є компанія RED Distribution. Damage Records відомий перш за все завдяки випуску ранніх записів груп панк-року і поп-панку в збірниках Punk Bites і Damage Flush Sampler 1996 і 1997 року відповідно, а також ранніх альбомів Bigwig, Dynamite Boy і більш пізніх - Sugarcult , Plain White T's, The Aquabats і At the Drive-In [5]. Останнім часом лейблом були також підписані пост-хардкор і емо-групи: A Static Lullaby, Rock Kills Kid, Mayday Parade, Alesana.<br>
				Боб Беккер почав Damage Records, коли він видавав своїх друзів тако на їх шоу. Він також хотів би перейти до запису магазинів і покласти свої записи на вантаж. Назва лейбл прийшла від Боба, не знаючи, що він робив у той час і "не боячись стрибнути в голову в першу чергу." Безстрашний записів була офіційно сформована в 1994 році. <br>
				У 2000 році Damage Records випустили Punk Goes Metal, перша збірка з Punk Goes ... серії. З тих пір Punk Goes ... серія розширилася. Він включав шість Punk Goes Pop-релізів, два Punk Goes акустичні релізи, Punk Goes 80-х і 90-х, панк йде Crunk, Punk Goes Classic Rock і Punk Goes X, який показує кавер-версії пісень, які були представлені в 2011 Winter X Games. Punk Goes Pop 5 був випущений 6 листопада 2012 року на 1 січня 2014 року, Damage звіти випустила відео на своїй сторінці на YouTube оголошуючи групи, які будуть випускати альбоми в 2014 році, а також оголосили збірник безстрашним Records "Панка Йде 90-2. <br>
				У 2005 році Damage Records випустили студійний альбом Все, що нам потрібно від Plain White T'S, колекція тринадцять пісень, яка виявилася проривом як для лейбла і Іллінойс основі групи. "Гей Там Delilah," сингл з цього альбому, досяг № 1 на Billboard Hot 100, став успішним для лейбла і був сертифікований як мультиплатинового Сингл. <br>
				8 листопада 2010 року Damage оголосила про випуск різдвяною тематикою збірник, що одержав назву 'Це сезон, щоб бути безстрашним. Він виступатиме вісім з підписаних артистів оригінальних пісень. Альбом був доступний для попереднього замовлення на ITunes в той же день, і був випущений 22 листопада 2010 три роки по тому, Damage Records випустила Punk Goes Різдво показуючи оригінальні і кавер-треки з All Time Low, питання, New Found Glory, і багато іншого. <br>
				У 2011 році Damage Records випустила Дихайте Кароліни альбом Hell Is What You Make It. "Blackout" сингл з альбому, став ще одним успіхом для лейбла. Він дебютував під номером 32 на Billboard Hot 100 і був сертифікований як золотий сингл. <br>
				У жовтні 2012 року Damage звіти оголосили, що вони запустили лейбл сестра під назвою "Old Friends Records," який буде підписувати більш інді-рок-артистів, включаючи Hellogoodbye. У листопаді 2013 року, Damage звіти оголосили другий лейбл відбиток під назвою "Outerloop Records," разом з їх першого підпису Ice Nine Kills. <br>
				Етикетка з бек-каталогом близько 150 альбомів був придбаний Concord велосипедний музики в травні 2015 року з орієнтовною $ 10 млн.
				</article>
				<div class="popup">
					<p><a data-target="#collapsable" data-toggle="collapse" aria-expanded="false" href="#subscribe">Підписатися на новини Damage Records</a></p>
					<form action="#" id="collapsable" method="POST" name="subscribe-email" class="collapse">
						<input name="name" required type="text" class="popup-form form-control" placeholder="Ім'я">
						<input name="email" required type="email" class="popup-form form-control" placeholder="E-Mail">
						<input type="submit" value="Підписатися!" class="popup-form btn" style="vertical-align: top;">
					</form>
				</div>
			</div>
		</main>
		<footer>
			<div class="partners">
				<p>PARTNERS:</p>
				<a href="#"><img src="./assets/img/partner-1.png"></a>
				<a href="#"><img src="./assets/img/partner-2.png"></a>
				<a href="#"><img src="./assets/img/partner-3.png"></a>
				<a href="#"><img src="./assets/img/partner-4.png"></a>
			</div>
			<div class="links">
				<p>FOLLOW US:</p>
				<a href="#" class="social-link fb"></a>
				<a href="#" class="social-link twitter"></a>
				<a href="#" class="social-link vk"></a>
				<a href="#" class="social-link soundcloud"></a>
				<a href="#" class="social-link youtube"></a>
				<a href="#" class="social-link instagram"></a>
				<a href="#" class="social-link lastfm"></a>
			</div>
			<div class="clearfix"></div>
			<div class="copyright">
				<p>&copy; DAMAGE RECORDS</p>
			</div> 
		</footer>
	</div>

</body>
</html>