<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./assets/css/style.css">
	<title>Contact Damage Records</title>	
	<script src="./assets/js/jquery.min.js"></script>
	<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<nav class="navbar navbar-default">
				<div class="nav-container">
					<div class="logo navbar-header">
						<a href="#"><img src="./assets/img/damage-logo-sign-600.png"></a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="main.html">НОВИНИ</a></li>
						<li class="active"><a href="releases.html">РЕЛІЗИ</a></li>
						<li><a href="artists.html">АРТИСТИ</a></li>
						<li id="dropdown"><a href="#">ШКОЛА</a>
							<ul class="dropdown">
								<a href="school.html#"><li>ПРО КУРСИ</li></a>
								<a href="school.html#"><li>ОБЛАДНАННЯ</li></a>
								<a href="school.html#"><li>ЦІНИ</li></a>
								<a href="school.html#"><li>КОНТАКТИ</li></a>
							</ul>
						</li>
						<li><a href="#">ПРО НАС</a></li>
						<li><a href="#">КОНТАКТИ</a></li>
					</ul>
					<div class="search-box">
						<input type="text" name="search" placeholder="Пошук">
						<button name="search-btn"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div class="news-container">
				
			</div>
		</main>
		<footer>
			<div class="partners">
				<p>PARTNERS:</p>
				<a href="#"><img src="./assets/img/partner-1.png"></a>
				<a href="#"><img src="./assets/img/partner-2.png"></a>
				<a href="#"><img src="./assets/img/partner-3.png"></a>
				<a href="#"><img src="./assets/img/partner-4.png"></a>
			</div>
			<div class="links">
				<p>FOLLOW US:</p>
				<a href="#" class="social-link fb"></a>
				<a href="#" class="social-link twitter"></a>
				<a href="#" class="social-link vk"></a>
				<a href="#" class="social-link soundcloud"></a>
				<a href="#" class="social-link youtube"></a>
				<a href="#" class="social-link instagram"></a>
				<a href="#" class="social-link lastfm"></a>
			</div>
			<div class="clearfix"></div>
			<div class="copyright">
				<p>&copy; DAMAGE RECORDS</p>
			</div> 
		</footer>
	</div>

</body>
</html>