{%extends 'index.html'%}
{% block content %}
<div class="release-container">
	<p class="about">Про Damage Records</p>
	<article>
	{{ text.text|raw }}
	</article>
	<div class="popup">
		<p><a data-target="#collapsable" data-toggle="collapse" aria-expanded="false" href="#subscribe">Підписатися на новини Damage Records</a></p>
		<form action="#" id="collapsable" method="POST" name="subscribe-email" class="collapse">
			<input name="name" required type="text" class="popup-form form-control" placeholder="Ім'я">
			<input name="email" required type="email" class="popup-form form-control" placeholder="E-Mail">
			<input type="submit" value="Підписатися!" class="popup-form btn" style="vertical-align: top;">
		</form>
	</div>
</div>
{% endblock %}