{%extends 'index.html'%}
{% block content %}
<div class="news-container">
	<figure>
		<img src="/images/artists/{{ artist.artist_picture }}">
	</figure>
	<article class="description">
		<span>{{ artist.artist_bio|raw }}</span>
	</article>
	<div class="sharers">
        <p>Share:</p>
		<a class="share-fb" id="fb"></a>
		<a class="share-twitter" id="twitter"></a>
		<a class="share-vk" id="vk"></a>
		<a class="share-mail" id="mail"></a>
	</div>
    {% if related is not empty %}
	<div class="related">
		<span>Схожі артисти:</span>
		<div class="clearfix"></div>
        {% for item in related %}
		<div class="item related-item" style="background-image: url(/images/artists/{{ item.artist_picture }});">
			<a href="/artists/{{ item.artist_id }}" data-id="{{ item.artist_id }}" data-target="artists" class="ajaxable">
				<div class="overlay">
					<div class="title">
						<span>{{ item.artist_name }}</span>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
		<div class="clearfix"></div>
	</div>
    {% endif %}
</div>
{% endblock %}