{%extends 'index.html'%}
{% block content %}
<div class="news-container">
    <h2>{{ item.news_title }}</h2>
	<article class="description">
		<span>{{ item.news_article|raw }}</span>
	</article>
	<div class="sharers">
        <p>Share:</p>
        <a class="share-fb" id="fb"></a>
        <a class="share-twitter" id="twitter"></a>
        <a class="share-vk" id="vk"></a>
        <a class="share-mail" id="mail"></a>
	</div>
    {% if related is not empty %}
        <div class="related">
            <span>Схожі новини:</span>
            <div class="clearfix"></div>
            {% for item in related %}
            <div class="item related-item" style="background-image: url(/images/news/{{ item.news_title_picture }});">
                <a href="/news/{{ item.news_id }}" data-id="{{ item.news_id }}" data-target="news" class="ajaxable">
                    <div class="overlay">
                        <div class="title">
                            <span>{{ item.news_title }}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    {% endif %}
</div>
{% endblock %}