{%extends 'index.html'%}
{% block content %}
{% for item in releases %}
<div class="item" style="background-image: url(/images/releases/{{ item.release_cover }});">
	<a href="/releases/{{ item.releases_id }}">
		<div class="overlay">
			<div class="title">
				<h4>{{ item.release_artist }}</h4>
				<h3>{{ item.release_title }}</h3>
			</div>
		</div>
	</a>
</div>
{% endfor %}
<div class="clearfix"></div>
{% if pgn.total_pages > 1 %}
<div class="paginations text-center row">
    {% include 'pagination.html' %}
</div>
{% endif %}
{% endblock %}