{%extends 'index.html'%}
{% block content %}
<form action="/admin/releases/" method="POST" enctype="multipart/form-data" class="form-horizontal">
    <div class="form-group">
        <button type="submit" name="edit_release" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Зберегти реліз
        </button>
    </div>
    <div class="form-group">
        <label for="title" class="control-label">Назва</label>
        <input type="text" name="title" id="title" class="form-control" value="{{ releases.release_title }}" required>
    </div>
    <div class="form-group">
        <label for="artist" class="control-label">Артист</label>
        <input type="text" name="artist" id="artist" class="form-control" value="{{ releases.release_artist }}">
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label" style="margin-left: -15px;">Обкладинка</label>
            <img src="/images/releases/{{ releases.release_cover }}" class="img-responsive" style="margin-left: -15px;">
            <input type="hidden" name="MAX_FILE_SIZE" value="30000000">
            <input type="file" accept="image/jpeg, image/png" name="picture" style="margin-left: -15px;">
        </div>
        <div class="col-md-8">
            <label for="date" class="control-label">Дата релізу</label>
            <input type="date" name="date" id="date" class="form-control" value="{{ releases.release_date }}">
            <label for="number" class="control-label">Номер релізу</label>
            <input type="text" name="number" id="number" class="form-control" value="{{ releases.release_number }}">
        </div>
    </div>
    <div class="form-group">
        <label for="itunes" class="control-label">Лінк на iTunes</label>
        <input type="text" name="itunes" id="itunes" class="form-control" value="{{ releases.release_itunes }}">
    </div>
    <div class="form-group">
        <label for="gplay" class="control-label">Лінк на Google Play</label>
        <input type="text" name="gplay" id="gplay" class="form-control" value="{{ releases.release_gplay }}">
    </div>
    <div class="form-group">
        <label for="spotify" class="control-label">Лінк на Spotify</label>
        <input type="text" name="spotify" id="spotify" class="form-control" value="{{ releases.release_spotify }}">
    </div>
    <div class="form-group">
        <label for="deezer" class="control-label">Лінк на Deezer</label>
        <input type="text" name="deezer" id="deezer" class="form-control" value="{{ releases.release_deezer }}">
    </div>
    <div class="form-group">
        <label for="description" class="control-label">Опис релізу</label>
        <textarea id="description" name="description">{{ releases.release_description }}</textarea>
    </div>
    <div class="form-group">
        <label for="tracklist" class="control-label">Трекліст</label>
        <textarea id="tracklist" name="tracklist">{{ releases.release_tracklist }}</textarea>
    </div>
    <div class="row">
        <h3>Схожі релізи</h3>
        <div class="col-md-7 form-group">
            <h4>Всі релізи</h4>
            <button class="btn btn-danger" id="deselect-btn">
                <span class="glyphicon glyphicon-ban-circle"></span> Зняти обрані
            </button>
            {% for item in related %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="related[]" value="{{ item.releases_id }}" {% if item.releases_id in releases.release_related %} checked{% endif %}> {{ item.release_title }}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-5">
            <h4>Пошук релізу</h4>
            <div class="form-inline">
                <input type="text" class="form-control" id="search-related" data-section="releases" data-id="{{ releases.releases_id }}" placeholder="Шукати реліз">
                <label><input class='radio-inline' type='radio' name='search-by' value='release_title' checked>За назвою</label>
                <label><input class='radio-inline' type='radio' name='search-by' value='release_tracklist'>За треклістом</label>
            </div>
            <div class="checked-list"></div>
            <div class="item-list"></div>
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" value="{{ releases.releases_id }}" name="id">
        <button type="submit" name="edit_release" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span> Зберегти реліз
        </button>
    </div>
</form>
<script type="text/javascript" src="/admin/ck-editor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('description');
</script>
<script type="text/javascript">
    CKEDITOR.replace('tracklist');
</script>
<script src="/admin/js/lodash.js"></script>
<script type="text/html" id="release-template">
    <div class="checkbox">
        <label>
            <input type="checkbox" name="related[]" value="<%=id%>"<% if(checked){ %> checked<% } %>> <%=title%>
        </label>
    </div>
</script>
{% endblock %}