main{width: 1000px; margin: 0 auto; padding-bottom: 50px;}
input[type="radio"], input[type="checkbox"]{vertical-align: text-bottom;}

/* menu buttons */
.menu{margin: 50px 0 10px 0;}
.menu .btn{height: 40px;}

/*navbar*/
.navbar-default{background-color: #f1f1f1; border: none; box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	border-radius: 0}
.navbar-header img{height: 44px; padding: 3px; margin-right: 5px;}

/* item */
.item .inline{display: inline-block; vertical-align: middle;}
.item{margin: 10px 0; background-color: #f9f9f9; box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.6); padding: 10px;}
.item-image{width: 13%;}
.item-image a{background-position: center center; background-size: cover; height: 130px; display: block;}
.item-info{width: 48%;}
.item-info h4, .item-info h5{text-align: center;}
.item-actions{width: 16%;}
.item-actions a{display: block; width: 135px; margin: 5px; text-decoration: none;}
.item-sort{margin-left: 17px; width: 20%;}
.item-sort a{margin: 5px;}